<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>BLOGGED</title>

  <!-- Bootstrap core CSS -->

  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Custom fonts for this template -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>


</head>

</head>

<body>

  <!-- Navigation  Bar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-eye-open"></span>View Blogs</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}" ><span class="glyphicon glyphicon-home"></span>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.about') }}"><span class="glyphicon glyphicon-info-sign"></span>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.add') }}"><span class="glyphicon glyphicon-plus"></span>Add Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->

  <header class="masthead"style="background-image: url('{{ url_for('static', filename='home-bg.jpg') }}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Blogged</h1>
            <span class="subheading">Share your thoughts</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->

  <div class="container">
    <div class="row">
      <div class="post-preview">
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
         {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('.post', post_id=post.id) }}">
            <h2 class="post-title"style="color:#0D8499;">
               &#8680  {{ post.title }} 
            </h2>
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>

          <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
          <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
            Comment
          </button>

        </div>
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>


  <!--Default Content  -->
  
  <div class="container">
    <div class="row">
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title"style="color:#0D8499;" >
               &#8680 MICHAEL ONEAL
            </h2>
            <h3 class="post-subtitle">
                As solopeneurs one of the keys to our success is our health. We've talked about this subject a few times because without health and vitality solopreneurship is an even more difficult path
            </h3>
          </a>
          <p class="post-meta">Posted by Collins on April 19th 2016</p>

          <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
          <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
            Comment
          </button>

        </div>

            <div class="post-preview">
              <h2 class="post-title"style="color:#0D8499;">
               &#8680 JOE RICE JONES
              </h2>
              <h3 class="post-subtitle">
                  <p>When the Nintendo Switch first came out, modders and emulator-lovers all wondered how long it would take before an emulator of the console arrived. After all, the Nintendo Switch uses the Nvidia Tegra X1, the powerful mobile processor that also powers the Nvidia Shield Android TV console and Shield tablet.
                    </p>
            <p>With both of the Shield devices having thriving development communities over on XDA, it was only going to be a matter of time before someone figured out how to run the Nintendo Switch software on an Android device. While some consoles have resisted emulation, the Cell processor in the PS3 a notable standout, having the Nintendo Switch built on hardware that was already known to developers should give emulator makers a head start.
                </p>                    
                
              </h3>
              </a>
              <p class="post-meta">Posted by LOISE </p>

              <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
              <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
                Comment
              </button>

            </div>

              <div class="post-preview">
                <h2 class="post-title"style="color:#0D8499;">
                 &#8680 JOE RICE JONES
                </h2>
                <h3 class="post-subtitle">
                        Well, this is creepy. Ever needed a fake persona for social media? No? Me neither but if you did, this website would be what you’d use. ThisPersonDoesNotExist.com serves as a chilling reminder of the power of AI when it’s trained correctly.

                        Using research that Nvidia released last year, Phillip Wang, a software engineer at Uber, created the site, which creates a new fake portrait every time the page is refreshed. The AI powering it was trained on a huge dataset of images of real faces, then fed through a generative adversarial network (GAN), to generate new faces.
                </h3>
                </a>
                <p class="post-meta">Posted by LOISE </p>

                <textarea name="comment[body]" id="new_comment_field" placeholder="Leave a comment" aria-label="Comment body" class="form-control input-contrast comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-suggester-field js-quote-selection-target js-session-resumable js-saved-reply-shortcut-comment-field"></textarea>
                <button type="submit" class="btn btn-primary" data-disable-with="" data-disable-invalid="">
                  Comment
                </button>

              </div>

        <hr>
      </div>
    </div>
  </div>


  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Blogged</p>
        </div>
      </div>
    </div>
  </footer>

 </body>

</html>

